<h2><%= @list.name %></h2>
<% @list.movies.each do |movie| %>
<%= movie.title %>
<%= cl_image_tag movie.photo.key, height: 300, width: 400, crop: :fill %>

<% end %>
<p>
<%= link_to "back to lists", root_path %>
</p>
<hr>
<%= link_to "add a new bookmark", new_list_bookmark_path(@list) %>
